body {
    background-color: #FFFFFF;
}

header {
    font-family: 'Inconsolata', monospace;
    width: 133px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    margin-top: 40px;
    margin-left: 77px;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    width: 586px;
    height: 190px;
    color: #333333;
    margin: 0px;
}

p {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    width: 381px;
    height: 108px;
    color: #4F4F4F;
}

input {
    font-family: 'Space Mono', monospace;
    width: 216px;
    height: 68px;
    background: #333333;
    color: #FFFFFF;
    margin-bottom: 100px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #BDBDBD;

    margin-bottom: 24px;
}

.row-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 100px 0;

}

img {

    width: 539.22px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}